@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-family: 'Press Start 2P', monospace;
}

body, h1#title, button.hard-mode {
    transition: 500ms;
}

h2 {
    text-align: center;
    padding: 20px;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #eee;
}
    
#the-dojo {
    height: 320px;
    width: 320px;
    background-color: wheat;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
    
.row {
    display: flex;
}
    
.tatami {
    height: 32px;
    width: 32px;
    font-size: 1.2rem;
    background-color: wheat;
    border: 2px solid #ccc;
    border-right: 2px solid #999;
    border-bottom: 2px solid #999;
}

.hard-mode {
    width: 320px;
    height: 60px;
    display: block;
    font-size: 1rem;
    margin: 2rem auto;
}

.dark-mode {
    background: linear-gradient(-30deg, magenta,  rebeccapurple, magenta, rebeccapurple);
    background-size: 400% 400%;
	animation: gradient 7s ease infinite;
    border: none;
}

@keyframes gradient {
	0%   { background-position: 0% 50%; }
	50%  { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

button:active, button:focus {
    outline: none;
    border: 2px solid #999;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.tatami:disabled {
    /* background-color: inherit; */
    background-color: wheat;
    filter: brightness(92%);
}

button:disabled {
    background-color: #f3f3f3;
}

button:hover {
    cursor: pointer;
    filter: brightness(84%);
}

#controls {
    width: 320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#controls button {
    padding: 0.5rem;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
}

a {
    color: #777;
}